#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	dh_install
	# Install Python package
	python3 -m build -w
	mkdir -p debian/python3-zfs-tools/usr/lib/python3/dist-packages
	unzip -q dist/zfs_tools-*.whl -d debian/python3-zfs-tools/usr/lib/python3/dist-packages
	# Create wrapper scripts in zfs-tools package
	mkdir -p debian/zfs-tools/usr/bin
	for script in zbackup zflock zreplicate zsnap; do \
		rm -f debian/zfs-tools/usr/bin/$$script; \
		echo '#!/usr/bin/python3' > debian/zfs-tools/usr/bin/$$script; \
		echo "from zfs_tools.$$script import main" >> debian/zfs-tools/usr/bin/$$script; \
		echo 'if __name__ == "__main__":' >> debian/zfs-tools/usr/bin/$$script; \
		echo '    main()' >> debian/zfs-tools/usr/bin/$$script; \
		chmod 755 debian/zfs-tools/usr/bin/$$script; \
	done
	ls -laR debian/zfs-tools/usr/bin

override_dh_link:
	# Skip dh_link to prevent it from creating symlinks
	:
